*{
    margin: 0;
    padding: 0;
 }
 .starter{
    height: 55px;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    z-index: 1;
    /* color: black; */
    background-color: black;
 }
 .btnHome{
    position: absolute;
    right:1220px;
    background-color: aqua;
    width: 80px;
   top: 5px;
   color: white;
   background-color: rgb(9, 95, 255);
   filter: drop-shadow(5px 0px 10px rgb(9, 95, 255));
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 20px;
    font-size: 20px;
    border-color: white;
}
.btnHome:hover{
    background-color: rgb(202, 202, 202);
    transform: scale(1.1);
    transition: 0.5s;
    color: black;
    filter: drop-shadow(5px 0px 10px #fffffff6);
    padding-right: 5px;
    padding-left: 5px;
}
.edit{
    position: absolute;
    top: 60px;
    font-size: 35px;
    left: 500px;
    font-family: cursive;
 }
 .edit:hover{
    color: rgb(9, 95, 255);
    transform: scale(1.3);
    transition: 0.35s;
    filter: drop-shadow(5px 0px 10px rgb(0, 38, 255));
 }
 .sub{
    position: absolute;
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 1000px;
    position: relative;
    top: 190px;
 }
 .evideo{
    width: 100px;
    position: absolute;
    top: 80px;
    left: 150px;
    background: #585858;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 225px;
    padding-left: 35px;
    border-radius: 30px;
    filter: drop-shadow(5px 0px 10px rgb(0, 0, 0));
 }
 .evideo2{
    position: absolute;
    top: 80px;
    right: 160px;
    background: #585858;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-right: 45px;
    padding-left: 40px;
    border-radius: 30px;
    filter: drop-shadow(5px 0px 10px rgb(0, 0, 0));

 }
 
.footer{
    background-color:  rgba(39, 39, 39, 0.966);
    width: 100%;
    height: 245px;
    position: absolute;
    top:755px;
}
.img7{
    width: 250px;
    filter: drop-shadow(0px 0px 10px white);
    position: relative;
    top: 70px;
    left: 100px;
}

.text5{
    color: white;
    word-spacing: 185px;
    font-size: 21px;
    position: relative;
    bottom: 20px;
    left: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.da{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(201, 201, 201);
    position: relative;
    font-size: 14px;
    left: 450px;
}
.da2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(201, 201, 201);
    position: relative;
    font-size: 14px;
    left: 735px;
    bottom: 35px;
}
.img9{
    width: 40px;
    position: relative;
    left: 1035px;
    bottom: 75px;
    filter: drop-shadow(0px 0px 10px white);
}
.img9:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.lastxt{
    position: absolute;
    top: 260px;
    color: white;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    filter: drop-shadow(0px 0px 10px rgb(0, 89, 255));
}